# Vim gitignore settings                                                                                                                                                                                                        
*~
*.swp
*.swo
